.atms-ticket-details-page-conversation-container {
  height: auto;
  display: flex;
  flex-direction: column;
}

.atms-ticket-details-page-conversation-header-container {
  height: 100px;
}

.atms-ticket-details-page-conversation-comments-reply-container {
  height: 400px;
  overflow-y: auto;
}

.atms-ticket-details-page-conversation-comments-reply-parent-container {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.atms-ticket-details-page-ticket-info-container {
  margin: 3%;
}

.atms-ticket-details-page-conversation-comments-reply-item {
  border-radius: 20px;
  margin: 10px 15px;
}

.commented-to-present {
  background-color: #fdf9f2;
  border-radius: 20px;
}

.atms-ticket-details-page-conversation-comments-reply-item-comment-time {
  margin-left: 60px;
}

.atms-ticket-details-page-conversation-comments-reply-item-horizontal-break {
  width: 77%;
}

.atms-ticket-details-page-conversation-comments-description {
  height: 3px;
  width: 100%;
}

.atms-ticket-detail-page-reply-comment-button-container {
  display: flex;
  gap: 3%;
  margin: 3% 5%;
}

.atms-ticket-detail-page-reply-button {
  background-color: #9254de;
  &:hover {
    background-color: #b37feb !important;
  }
}

.atms-ticket-detail-page-comment-button {
  &:hover {
    color: #b37feb !important;
    border-color: #b37feb !important;
  }
}

.atms-ticket-details-page-comments-rich-text-editor {
  margin-left: 3%;
  margin-right: 2%;
}

.atms-ticket-detail-page-submit-updates-button {
  margin-left: 3%;
  margin-top: 7px;
  background-color: #9254de;
  &:hover {
    background-color: #b37feb !important;
  }
}

.mention {
  &:hover {
    cursor: pointer;
  }
}
