* {
  font-family: Dosis, sans-serif;
  font-family: Inconsolata, monospace;
  font-family: Kanit, sans-serif;
}
.atms-ticket-detail-page-column-1 {
  border: 2px groove;
  border-bottom: none;
  border-left: none;
  height: auto;
  /* margin: 3px; */
}

.atms-ticket-detail-page-column-2 {
  border-top: 2px groove;
  height: auto;
  /* margin: 3px; */
}

.atms-ticket-detail-page-column-3 {
  border: 2px groove;
  border-bottom: none;
  border-right: none;
  height: auto;
  /* margin: 3px; */
}

.atms-ticket-details-page-status-tag {
  margin-left: 5%;
  border-radius: 10px;
  border: none;
}

.atms-ticket-details-page-ticket-dates {
  margin-top: 0px;
}

.atms-ticket-details-page-ticket-primary-paragraph {
  font-size: 1.2rem;
  color: #524f4f;
  margin-top: 20px;
  margin-bottom: 0px;
}

.atms-ticket-details-page-ticket-secondary-paragraph {
  padding-top: 10px;
  font-size: 1.2rem;
  color: #353333;
  margin: 0px;
}

.atms-ticket-details-page-space {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.atms-ticket-details-page-ticket-normal-paragraph {
  margin: 0px;
}

.atms-ticket-details-page-ticket-select-dropdown {
  width: 160px;
}

.atms-ticket-detail-page-ticket-details-column-container {
  text-align: center;
  display: 100vh;
  display: flex;
  flex-direction: column;
}

.atms-ticket-details-page-submit-button {
  margin: 10% 25%;
  background-color: #9254de;
  &:hover {
    background-color: #b37feb !important;
  }
}

.atms-ticket-details-page-submit-confirm-button {
  background-color: #9254de;
  &:hover {
    background-color: #b37feb !important;
  }
}

.atms-ticket-details-page-cancel-button {
  &:hover {
    border-color: #b37feb !important;
    color: #b37feb !important;
  }
}
